 .featuredBlogPost {
   margin: auto 5%;
   
 }

 .featuredBlogPost ul {
   list-style: none;
 }

.featuredBlogPost img {
  width: 100%;
  height: auto;
}

.blogTags {
  background-color: #FFA489;
  color: #fff;
  padding: 10px 20px;
}