 .featuredBlogPost {
   margin: auto 5%;
   
 }

 .featuredBlogPost ul {
   list-style: none;
 }

.featuredBlogPost img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.featuredBlogPostTitle {
  font-size: 28px;
}

.featuredBlogPostTitle:hover {
  border-bottom: 3px solid #103948;
}

.featuredBlogPostReadMore {
  text-decoration: none; !important
  display: none;
}